@import url("https://fonts.googleapis.com/css?family=Open+Sans|Playfair+Display+SC");



.App {
  padding: 1em;
}

label {
  display: inline-block;
  width: 100px;
}

h1 {
  font-family: "Playfair Display SC", serif;
  font-size: 64px;
  margin-bottom: 20px;
}

header {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* typography */

html {
  font-family: "helvetica neue", sans-serif;
}

thead th,
tfoot th {
  font-family: "Rock Salt";
}

th {
  letter-spacing: 2px;
  padding: 10px;
}

td {
  letter-spacing: 1px;
  overflow-x: hidden;
  overflow-y: hidden;
  font-size: 12px;
  padding: 10px;
  text-align: center;
}

.form-row {
  display: flex;
}

.form-col {
  flex: 1;
}

.form-mid {
  padding-top: 35px;
}

/* Set the width for the preparation and ingredients columns to 30% */
td:nth-child(5),
td:nth-child(6) {
  width: 30%;
}

/* Set the width for the rest of the columns to 10% */
td:not(:nth-child(5)):not(:nth-child(6)) {
  width: 10%;
}

/* Set zebra striping color pattern for rows in tbody */
tbody tr:nth-child(odd) {
  background-color: #fff0c7; /* or any other preferred color */
}

/* Display scrollbar for long text in preparation and ingredients columns */
.content_td p {
  max-width: 100%;
  max-height: 100px;
  overflow-y: auto;
  text-overflow: ellipsis;
}

/* Scale down images and set width and height to 100% */
img {
  object-fit: scale-down;
  width: 100%;
  height: 100%;
}

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.content_td p {
  max-width: 100%;
  max-height: 100px;
  overflow-y: auto;
  text-overflow: ellipsis;
}


/* Column Size for thead */

/* Column size for tbody */
